*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include breakpoint(sm) {
    font-size: 56.25%;
  }
}

body {
  font-family: $font-body;
  line-height: 1.7;
  background: linear-gradient(to top, rgba($c-gray-4, .5), rgba($c-gray-4, .5)), url('../images/bg-img-mick-haupt.jpg') no-repeat center center fixed; 
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  padding: 2rem;
}