.card {
  width: 100%;
  max-width: 54rem;
  min-height: 68rem;
  margin: 0 auto;
  padding: 6rem;
  background-color: $color-lte;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba($color-drk, .25);

  @include breakpoint(sm) {
    min-height: 56rem;
    padding: 4rem;
    margin-bottom: 4rem;
  }
  
  .form {
    &-heading {
      font-family: $font-heading;
      font-size: 2.9rem;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: $margin-sm;
      color: $color-drk;

      @include breakpoint(sm) {
        font-size: 2.2rem;
      }
      
  
      i {
        margin-right: .4rem;
        color: $color-pri;
      }
    }

    &-description {
      display: block;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: .4px;
      width: 80%;
      margin-bottom: $margin-md;
      color: $color-drk-lte;

      @include breakpoint(sm) {
        width: 100%;
      }
      
    }

    &-inputs {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 11.4rem;
      margin-bottom: $margin-lg;
  
      input {
        font-family: $font-body;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: .15px;
        width: 100%;
        padding: 1.2rem 1.4rem;
        color: $color-drk;
        background-color: #fff;
        border: 1px solid  $color-lte-drk;
        border-radius: 8px;
        outline: 0;
  
        &:focus {
          margin: -1px;
          border: 2px solid $color-pri;
          box-shadow: 0px 0px 4px rgba($color-pri-alt, .5);
        }
      }
    }
  
    &-button {
      text-align: right;
  
      button {
        font-family: $font-body;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: .15px;
        padding: 1.4rem 3.2rem;
        color:  $color-lte;
        background: $color-pri;
        border: none;
        border-radius: 50px;
        outline: 0;
        cursor: pointer;
        transition: all .2s;
      
        &:hover {
          background: $color-pri-alt;
        }
      }
    }
  }

  .results {
    &-album-artist {
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: .15px;
      line-height: 1.4;
      color: $color-drk;
      margin-bottom: .4rem;
    }

    &-album-title {
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: 0px;
      line-height: 1.4;
      color: $color-pri;
      margin-bottom: $margin-md;
    }

    &-album-link {
      position: relative;
      display: block;
      text-align: center;
      margin-bottom: $margin-lg;

      .results-album-img {
        display: block;
        width: 100%;
        border: 1px solid $color-lte-drk;
        border-radius: 8px;
        opacity: 1;
        transition: all .4s;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 8.5rem;
        color: $color-pri;
        background-color: #fff;
        border: 6px solid #fff;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .4s;
      }

      &:hover {
        & .results-album-img {
          opacity: .75;
        }

        i {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }

    &-redo-link {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .4px;
      text-decoration: none;
      color: $color-drk;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.alert-msg {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .1px;
  text-align: right;
  margin-top: $margin-sm;
  color: crimson;
}