.card {
  max-width: 56rem;
  min-height: 72rem;
  margin: 0 auto;
  padding: 4.8rem;
  background-color: $c-gray-1;
  border: 1px solid $c-gray-2;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);

  @include breakpoint("sm") {
    min-height: 68rem;
  }
  
  .form {
    &-heading {
      font-family: $font-heading;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1;
      margin-bottom: $m-md;
      color: $c-gray-4;
    }

    &-description {
      display: block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
      width: 85%;
      margin-bottom: $m-xl;
      color: $c-gray-3;

      @include breakpoint("sm") {
        width: 100%;
      }
    }

    &-inputs {
      margin-bottom: $m-xl;

      label {
        display: block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: $m-xs;
        margin-left: $m-xl;
        color: $c-gray-3;
      }
  
      input {
        display: block;
        font-family: $font-body;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.15px;
        width: 100%;
        margin-bottom: $m-lg;
        padding: 2rem 3.2rem;
        color: $c-gray-4;
        background-color: $c-white;
        border: 1px solid  $c-gray-2;
        border-radius: 100px;
        outline: 0;
  
        &:focus {
          padding: calc(2rem - 1px) calc(3.2rem - 1px);
          border: 2px solid $c-pri;
        }
      }
    }
  
    &-button {
      text-align: right;
  
      button {
        font-family: $font-body;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.15px;
        padding: 2rem 4rem;
        color:  $c-white;
        background: $c-pri;
        border: none;
        border-radius: 100px;
        outline: 0;
        cursor: pointer;
        transition: all 0.2s;
      
        &:hover {
          background: $c-pri-alt;
        }
      }
    }
  }

  .results {
    &-album-artist {
      margin-bottom: $m-sm;

      &-link {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.15px;
        text-decoration: none;
        line-height: 1.2;
        color: $c-gray-4;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-album-title {
      margin-bottom: $m-lg;

      &-link {
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0;
        text-decoration: none;
        line-height: 1.2;
        color: $c-gray-4;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-album-link {
      display: block;
      position: relative;
      text-align: center;
      margin-bottom: $m-xl;

      .results-album-img {
        display: block;
        width: 100%;
        border: 1px solid $c-gray-2;
        border-radius: 12px;
        opacity: 1;
        transition: all 0.4s;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 8.8rem;
        color: $c-pri;
        background-color: $c-white;
        border: 0.8rem solid $c-white;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.4s;
      }

      &:hover {
        & .results-album-img {
          opacity: 0.5;
        }

        i {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }

    &-redo-link {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1px;
      text-decoration: none;
      color: $c-gray-3;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.alert-msg {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: right;
  margin-top: $m-md;
  margin-right: $m-md;
  color: $c-alert;
}