.loader {
  position: relative;
  margin: 0 auto;
  width: 28rem;
  height: 28rem;
  background: linear-gradient(0deg, transparent 50%, rgba($c-gray-4, 0.8) 50%)
      no-repeat 100% 0,
    linear-gradient(90deg, rgba($c-gray-4, 0.8) 50%, transparent 50%) no-repeat
      0 100%,
    repeating-radial-gradient(
      $c-gray-4,
      $c-gray-4 0.4rem,
      $c-gray-3 0.5rem,
      $c-gray-4 0.6rem
    );
  background-size: 50% 100%, 100% 50%, 100% 100%;
  border: 0.4rem solid $c-gray-4;
  border-radius: 50%;
  animation: spin 1.6s infinite linear;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.6rem;
    height: 7.6rem;
    background: $c-gray-4;
    border: 1px solid $c-gray-4;
    border-radius: 50%;
    box-shadow: 0 0 0 0.4rem $c-pri, inset 0 0 0 3.4rem $c-pri;
    transform: translate(-50%, -50%);
  }
}
