$font-heading: 'Shrikhand', cursive;
$font-body: 'Jost', sans-serif;

$color-pri: #359CA7;
$color-pri-alt: #3BADBA;

$color-lte: #f8f9fa;
$color-lte-drk: #dee2e6;
$color-drk-lte: #495057;
$color-drk: #212529;

$margin-sm: 1.4rem;
$margin-md: 2rem;
$margin-lg: 3.2rem;