$font-heading: 'Shrikhand', cursive;
$font-body: 'Open Sans', sans-serif;

$c-pri: #00838f;
$c-pri-alt: #0096A3;

$c-gray-1: #f5f5f5;
$c-gray-2: #dddddd;
$c-gray-3: #474747;
$c-gray-4: #222222;

$c-white: #fff;
$c-black: #000;

$c-alert: #D84646;

$m-xs: 0.25rem;
$m-sm: 0.5rem;
$m-md: 1rem;
$m-lg: 1.5rem;
$m-xl: 3rem;