$font-heading: 'Shrikhand', cursive;
$font-body: 'Yantramanav', sans-serif;

$c-pri: #00838f;
$c-pri-alt: #4fb3bf;

$c-gray-1: #fafafa;
$c-gray-2: #e0e0e0;
$c-gray-3: #616161;
$c-gray-4: #212121;

$c-white: #fff;
$c-black: #000;

$c-alert: #d32f2f;

$m-xs: .4rem;
$m-sm: .8rem;
$m-md: 2.4rem;
$m-lg: 3.6rem;