*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include breakpoint('sm') {
    font-size: 58.3333%;
  }
}

body {
  font-family: $font-body;
  line-height: 1.7;
  background-color: $c-gray-5;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  padding: 4rem;
  width: 100%;
}
