*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@include mobile {
		font-size: 58.3333%;
	}
}

body {
	font-family: $font-body;
	font-size: 14px;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.25px;
	line-height: 1.6;
	color: $text-color;
	background-color: $gray-4;
}

img {
	display: block;
	max-width: 100%;
}

main {
	display: grid;
	place-items: center;
	height: 100vh;
	padding: $sp-lg;

	@include mobile {
		place-items: start center;
	}
}
