.card {
	max-width: 40rem;
	margin-bottom: 16rem;
	background-color: $gray-4;

	.form {
		.btn {
			margin-bottom: $sp-md;
			margin-left: auto;
		}
	}

	.results {
		text-align: center;

		&-img {
			width: 40rem;
			margin-bottom: $sp-lg;
			border: 1px solid $gray-2;

			&-link {
				display: block;
				position: relative;

				.icon-play {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 12rem;
					height: 12rem;
					border: 0;
					transform: translate(-50%, -50%) scale(0);
					transition: transform 0.2s ease-in-out;
				}

				&:focus,
				&:hover {
					&:before {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: $gray-4;
						opacity: 0.625;
					}

					.icon-play {
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}

		&-footer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: $sp-sm;
		}
	}
}
