.loader {
	position: relative;
	width: 32rem;
	height: 32rem;
	margin: 0 auto;
	background: linear-gradient(0deg, transparent 50%, rgba($gray-4, 0.8) 50%) no-repeat 100% 0, linear-gradient(90deg, rgba($gray-4, 0.8) 50%, transparent 50%) no-repeat 0 100%, repeating-radial-gradient($gray-4, $gray-4 0.4rem, rgba($gray-1, 0.5) 0.5rem, $gray-4 0.6rem);
	background-size: 50% 100%, 100% 50%, 100% 100%;
	border: 0.4rem solid $gray-4;
	border-radius: 50%;
	animation: spin 1.6s infinite linear;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8rem;
		height: 8rem;
		background: $gray-4;
		border: 1px solid $gray-4;
		border-radius: 50%;
		box-shadow: 0 0 0 0.4rem $white, inset 0 0 0 3.6rem $white;
		transform: translate(-50%, -50%);
	}
}
