$sp-sm: 0.75rem;
$sp-md: 2.375rem;
$sp-lg: 4rem;

$font-heading: 'Shrikhand', cursive;
$font-body: 'Inter', sans-serif;

$white: #fff;
$gray-1: #d4d4d8; // 3
$gray-2: #3f3f46; // 7
$gray-3: #27272a; // 8
$gray-4: #18181b; // 9

$danger: #f87171;

$text-color: $gray-1;
