$font-heading: 'Shrikhand', cursive;
$font-body: 'Inter', sans-serif;

$c-white: #fff;
$c-black: #000;

$c-gray-1: #eaeaeb;
$c-gray-2: #94989e;
$c-gray-3: #26282c;
$c-gray-4: #131416;

$c-alert: #d84646;

$m-xs: 0.25rem;
$m-sm: 0.5rem;
$m-md: 1rem;
$m-lg: 1.5rem;
$m-xl: 3rem;
